# remove vscode - sigasi files
##########################
/.settings/*
.project
.library_mapping.xml

# untrack doc files
##########################
/doc

#########################################################
# untracked temporary directories/files
#########################################################
# Untracked no necessary project files
/project/vivado00/tmtc.ip_user_files
/project/vivado00/tmtc.hw
/project/vivado00/tmtc.cache
/project/vivado00/tmtc.sim
/project/vivado00/tmtc.srcs
/project/vivado00/tmtc.runs
/project/vivado00/*.log
/project/vivado00/tmtc.gen

# Untracked no necessary Xilinx IP Files

# Track essential Xilinx IP files
/ip/xilinx/coregen/*/*
!/ip/xilinx/coregen/*/*.xdc
!/ip/xilinx/coregen/*/*.xci
!/ip/xilinx/coregen/*/*.mif

# Untracked for the DDR Xilinx IP files
!/ip/xilinx/coregen/*/*.prj


# Untracked Opal Kelly IPs
/ip/opal_kelly/Front_panel_XEM7350-K160T/simu/*
!/ip/opal_kelly/Front_panel_XEM7350-K160T/simu/.keep
/ip/opal_kelly/Front_panel_XEM7350-K160T/syn/*
!/ip/opal_kelly/Front_panel_XEM7350-K160T/syn/.keep


# Untracked some doc files
/doc/spec/*

# Untracked some constraints files
/constraints/constrs_1/*.ucf

# untracted Sigasi files
.settings